In [ ]:
mongodb='BINFOpJQiWmp1JIa'
mongodb1='25w9gXhCYvSdNYho'

import re
import glob
lst=glob.glob('**/*')
lst
for i in lst:
    a=re.search('FY\d*\_?\w+',''.join(i))
    a=a.group(0)
    print(a)

In [1]:
import pandas as pd, datetime as dt, glob
from sqlalchemy import create_engine

def pg_db_connection():
        db_username = 'postgres'
        db_password = 'your_password'
        db_host = 'localhost'
        db_port = '5432'
        db_name = 'hariaravi'
        # SQLAlchemy engine for PostgreSQL
        engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
        return engine


def main_dataset():
        
        a=glob.glob('**/*')
        df=pd.DataFrame()
        for i in range(len(a)):
                k=a[i]
                df_start=dt.datetime.now()
                df=pd.read_excel(k)
                df['link']=f'{k}'
                u = df.select_dtypes(include=['datetime'])
                df[u.columns] = u.fillna('None')
                df=df.fillna('None')
                df_end=dt.datetime.now()
                print(f'df, done {k} {df.shape} time is: {df_end-df_start}')
                sql_start=dt.datetime.now()
                df.to_sql(f'table_is_{i}', engine, if_exists='replace', index=False)
                sql_end=dt.datetime.now()
                print(f'table_is_{i} also done and the time it took is {sql_end-sql_start}')

        return df

# df=main_dataset()
print("DataFrame is successfully dumped into PostgreSQL database.")
# df = pd.read_sql(query, engine)

DataFrame is successfully dumped into PostgreSQL database.

In [2]:
def pg_db_connection():
        db_username = 'postgres'
        db_password = 'your_password'
        db_host = 'localhost'
        db_port = '5432'
        db_name = 'hariaravi'
        # SQLAlchemy engine for PostgreSQL
        engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
        return engine

def get_full_data(engine):

    with open (r'dol-h1b-data-final.json', mode='a', encoding = 'utf-8-sig') as file:
        for i in range(20):
            starttime_sql_query=dt.datetime.now()
            query= f'select * from table_is_{i}'
            temp_df = pd.read_sql(query, engine)
            endtime_sql_query = dt.datetime.now()
            temp_df.to_json(file, orient='records')
            end_time_df_json= dt.datetime.now()
            print(f'table is {i}, the shape is: {temp_df.shape}')
            print(f'time to query: {endtime_sql_query-starttime_sql_query}')
            print(f'time to json: {end_time_df_json - endtime_sql_query}')

table is 0, the shape is: (120306, 97)
time to query: 0:00:07.455208
time to json: 0:00:03.032074

In [4]:
from pymongo import MongoClient
import datetime as dt

def load_sample_data(df):
    mono_start=dt.datetime.now()
    atlas_connection_string = "mongodb+srv://aravindbedean:25w9gXhCYvSdNYho@cluster0.cbcz4vn.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(atlas_connection_string)
    db = client['sample_db']
    collection = db['users']
    collection.insert_many(df)
    mongo_end=dt.datetime.now()
    print(f'time to load to mongo is: {mongo_end-mono_start}')

Sample data has been inserted into the 'users' collection.

In [ ]:
# import json, datetime as dt
# query= 'select * from table_is_0'
# temp_df = pd.read_sql(query, engine)

# with open (r'/Users/hariaravi/PycharmProjects/finalGHfolder/Data_Engineering/Projects/h1b/dol-h1b-data-final.json', mode='a', encoding = 'utf-8-sig') as file:
#     for i in range(20):
#         # starttime_sql_query=dt.datetime.now()
#         query= f'select * from table_is_{i}'
#         temp_df = pd.read_sql(query, engine)
#         # endtime_sql_query = dt.datetime.now()
#         temp_df.to_json(file, lines=True, orient='records')
#         # end_time_df_json= dt.datetime.now()
#         # print(f'table is {i}, the shape is: {temp_df.shape}')
#         # print(f'time to query: {endtime_sql_query-starttime_sql_query}')
#         # print(f'time to json: {end_time_df_json - endtime_sql_query}')

In [1]:
##libraries


import pandas as pd, datetime as dt, glob, decimal, ijson, time as t, os, json, pyarrow
from pytz import timezone
from bson.decimal128 import Decimal128
from sqlalchemy import create_engine
from pymongo import MongoClient

In [1]:
import pandas as pd, datetime as dt, glob, decimal, ijson, time as t, os, json, pyarrow
from pytz import timezone
from bson.decimal128 import Decimal128
from sqlalchemy import create_engine
from pymongo import MongoClient


def pg_db_connection():
        db_username = 'postgres'
        db_password = 'your_password'
        db_host = 'localhost'
        db_port = '5432'
        db_name = 'hariaravi'
        # SQLAlchemy engine for PostgreSQL
        engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
        return engine

def date_and_time():
    format = "%Y-%m-%d_%H-%M"
    now_utc = dt.datetime.now(timezone('EST'))
    return now_utc.strftime(format)

def get_full_data(engine,datetime):
    data_file = f'final/dol-h1b-data-final-{datetime}.json'
    with open (r'{}'.format(data_file), mode='a', encoding = 'utf-8-sig') as file:
        for i in range(2):
            starttime_sql_query=dt.datetime.now()
            query= f'select * from table_is_{i}'
            temp_df = pd.read_sql(query, engine)
            endtime_sql_query = dt.datetime.now()
            temp_df.to_json(file, orient='records')
            end_time_df_json= dt.datetime.now()
            print(f'table is {i}, the shape is: {temp_df.shape}')
            print(f'time to query: {endtime_sql_query-starttime_sql_query}')
            print(f'time to json: {end_time_df_json - endtime_sql_query}')
        file_name = file.name
        abs_path=os.path.abspath(file_name)
        return abs_path     

def convert_decimal128(obj):
    if isinstance(obj, dict):
        for k, v in obj.items():
            obj[k] = convert_decimal128(v)
    elif isinstance(obj, list):
        obj = [convert_decimal128(v) for v in obj]
    elif isinstance(obj, decimal.Decimal):
        return Decimal128(str(obj))
    return obj



def load_data(df):
    with open (r'{}'.format(df),mode = 'r', encoding = 'utf-8-sig') as file:
        array_items = ijson.items(file, 'item')
        temp_list=[]
        count=0
        for i in array_items:
            atlas_connection_string = "mongodb+srv://aravindbedean:25w9gXhCYvSdNYho@cluster0.cbcz4vn.mongodb.net/?retryWrites=true&w=majority"
            client = MongoClient(atlas_connection_string)
            db = client['dol-h1b']
            collection = db['datadump']
            i=convert_decimal128(i)
            collection.insert_one(i)
        # temp_list.clear()
        # print(len(temp_list))
 
                
def operation():
    pg_db = pg_db_connection()
    temp_variable=get_full_data(pg_db, date_and_time())
    # final_end = load_data(temp_variable)
    # final_end = load_data(r'/Users/hariaravi/PycharmProjects/dol-h1b/h1bdata/dol/final/dol-h1b-data-final-2024-02-24_16-57.json')
    
    print('All functions done')

        
# operation()
print('done')

done

In [23]:
from datetime import datetime

# Your timestamp in milliseconds
timestamp_ms = "1632614400000"

# Convert the string to an integer and then to seconds
timestamp_s = int(timestamp_ms) / 1000.0

# Convert the timestamp to a datetime object
dt = datetime.fromtimestamp(timestamp_s)

print(dt)

2021-09-25 20:00:00

In [18]:
with open (r'/Users/hariaravi/PycharmProjects/dol-h1b/h1bdata/dol/final/dol-h1b-data-final-2024-02-24_16-57.json', mode='r',encoding='utf-8-sig') as file:
    a_file=ijson.items(file,"item")
    temp_list=[]
    for i,j in enumerate(a_file):
        if len(temp_list) == 10: #1000000):
            break
        elif len(temp_list) < 10: #1000000):
            temp_list.append(j)

    print(len(temp_list))
    mini_df=pd.DataFrame(temp_list)
    # print(mini_df)

10

In [29]:
def pg_db_connection():
        db_username = 'postgres'
        db_password = 'your_password'
        db_host = 'localhost'
        db_port = '5432'
        db_name = 'hariaravi'
        # SQLAlchemy engine for PostgreSQL
        engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
        return engine


df=pd.DataFrame()
for i in range(20):
    engine = pg_db_connection()
    query = f'select * from table_is_{i} limit 5'
    temp_df = pd.read_sql(query, engine)
    temp_df['table'] = f'table_is_{i}'
    df=pd.concat([df,temp_df])

df.to_excel('sheet.xlsx')

In [28]:
df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'ORIGINAL_CERT_DATE', 'VISA_CLASS', 'JOB_TITLE', 'SOC_CODE',
       'SOC_TITLE', 'FULL_TIME_POSITION',
       ...
       'PREVAILING_WAGE_10', 'PW_UNIT_OF_PAY_10', 'PW_TRACKING_NUMBER_10',
       'PW_WAGE_LEVEL_10', 'PW_OES_YEAR_10', 'PW_OTHER_SOURCE_10',
       'PW_NON-OES_YEAR_10', 'PW_SURVEY_PUBLISHER_10', 'PW_SURVEY_NAME_10',
       'MASTERS_EXEMPTION'],
      dtype='object', length=332)

In [45]:
temp_set={}
for i in df.columns:
    temp_set[i]=[]
    temp_set[i]= df[f'{i}'].count()

In [46]:
abc=sorted(temp_set.items(),key = lambda x: x[1]==100, reverse=True)

In [57]:
abc[0][1]==100

True

In [58]:
res=[]
for i in abc:
    if i[1]==100:
        res.append(i[0])

In [59]:
res

['CASE_NUMBER',
 'CASE_STATUS',
 'DECISION_DATE',
 'ORIGINAL_CERT_DATE',
 'VISA_CLASS',
 'JOB_TITLE',
 'SOC_CODE',
 'FULL_TIME_POSITION',
 'EMPLOYER_NAME',
 'EMPLOYER_CITY',
 'EMPLOYER_STATE',
 'EMPLOYER_POSTAL_CODE',
 'EMPLOYER_COUNTRY',
 'EMPLOYER_PROVINCE',
 'EMPLOYER_PHONE',
 'EMPLOYER_PHONE_EXT',
 'AGENT_ATTORNEY_CITY',
 'AGENT_ATTORNEY_STATE',
 'WILLFUL_VIOLATOR',
 'link',
 'table']

In [60]:
l= []
for i in res:
    if i !='table':
        l.append(f'case when "{i}" is not null then "{i}" else null end as "{i}"')

In [61]:
','.join(l)

'case when "CASE_NUMBER" is not null then "CASE_NUMBER" else null end as "CASE_NUMBER",case when "CASE_STATUS" is not null then "CASE_STATUS" else null end as "CASE_STATUS",case when "DECISION_DATE" is not null then "DECISION_DATE" else null end as "DECISION_DATE",case when "ORIGINAL_CERT_DATE" is not null then "ORIGINAL_CERT_DATE" else null end as "ORIGINAL_CERT_DATE",case when "VISA_CLASS" is not null then "VISA_CLASS" else null end as "VISA_CLASS",case when "JOB_TITLE" is not null then "JOB_TITLE" else null end as "JOB_TITLE",case when "SOC_CODE" is not null then "SOC_CODE" else null end as "SOC_CODE",case when "FULL_TIME_POSITION" is not null then "FULL_TIME_POSITION" else null end as "FULL_TIME_POSITION",case when "EMPLOYER_NAME" is not null then "EMPLOYER_NAME" else null end as "EMPLOYER_NAME",case when "EMPLOYER_CITY" is not null then "EMPLOYER_CITY" else null end as "EMPLOYER_CITY",case when "EMPLOYER_STATE" is not null then "EMPLOYER_STATE" else null end as "EMPLOYER_STATE",case when "EMPLOYER_POSTAL_CODE" is not null then "EMPLOYER_POSTAL_CODE" else null end as "EMPLOYER_POSTAL_CODE",case when "EMPLOYER_COUNTRY" is not null then "EMPLOYER_COUNTRY" else null end as "EMPLOYER_COUNTRY",case when "EMPLOYER_PROVINCE" is not null then "EMPLOYER_PROVINCE" else null end as "EMPLOYER_PROVINCE",case when "EMPLOYER_PHONE" is not null then "EMPLOYER_PHONE" else null end as "EMPLOYER_PHONE",case when "EMPLOYER_PHONE_EXT" is not null then "EMPLOYER_PHONE_EXT" else null end as "EMPLOYER_PHONE_EXT",case when "AGENT_ATTORNEY_CITY" is not null then "AGENT_ATTORNEY_CITY" else null end as "AGENT_ATTORNEY_CITY",case when "AGENT_ATTORNEY_STATE" is not null then "AGENT_ATTORNEY_STATE" else null end as "AGENT_ATTORNEY_STATE",case when "WILLFUL_VIOLATOR" is not null then "WILLFUL_VIOLATOR" else null end as "WILLFUL_VIOLATOR",case when "link" is not null then "link" else null end as "link"'

In [ ]:
case when "CASE_NUMBER" is not null then "CASE_NUMBER" else null end as "CASE_NUMBER",case when "CASE_STATUS" is not null then "CASE_STATUS" else null end as "CASE_STATUS",case when "DECISION_DATE" is not null then "DECISION_DATE" else null end as "DECISION_DATE",case when "ORIGINAL_CERT_DATE" is not null then "ORIGINAL_CERT_DATE" else null end as "ORIGINAL_CERT_DATE",case when "VISA_CLASS" is not null then "VISA_CLASS" else null end as "VISA_CLASS",case when "JOB_TITLE" is not null then "JOB_TITLE" else null end as "JOB_TITLE",case when "SOC_CODE" is not null then "SOC_CODE" else null end as "SOC_CODE",case when "FULL_TIME_POSITION" is not null then "FULL_TIME_POSITION" else null end as "FULL_TIME_POSITION",case when "EMPLOYER_NAME" is not null then "EMPLOYER_NAME" else null end as "EMPLOYER_NAME",case when "EMPLOYER_CITY" is not null then "EMPLOYER_CITY" else null end as "EMPLOYER_CITY",case when "EMPLOYER_STATE" is not null then "EMPLOYER_STATE" else null end as "EMPLOYER_STATE",case when "EMPLOYER_POSTAL_CODE" is not null then "EMPLOYER_POSTAL_CODE" else null end as "EMPLOYER_POSTAL_CODE",case when "EMPLOYER_COUNTRY" is not null then "EMPLOYER_COUNTRY" else null end as "EMPLOYER_COUNTRY",case when "EMPLOYER_PROVINCE" is not null then "EMPLOYER_PROVINCE" else null end as "EMPLOYER_PROVINCE",case when "EMPLOYER_PHONE" is not null then "EMPLOYER_PHONE" else null end as "EMPLOYER_PHONE",case when "EMPLOYER_PHONE_EXT" is not null then "EMPLOYER_PHONE_EXT" else null end as "EMPLOYER_PHONE_EXT",case when "AGENT_ATTORNEY_CITY" is not null then "AGENT_ATTORNEY_CITY" else null end as "AGENT_ATTORNEY_CITY",case when "AGENT_ATTORNEY_STATE" is not null then "AGENT_ATTORNEY_STATE" else null end as "AGENT_ATTORNEY_STATE",case when "WILLFUL_VIOLATOR" is not null then "WILLFUL_VIOLATOR" else null end as "WILLFUL_VIOLATOR",case when "link" is not null then "link" else null end as "link"