In [ ]:
mongodb='BINFOpJQiWmp1JIa'
mongodb1='25w9gXhCYvSdNYho'

import re
import glob
lst=glob.glob('**/*')
lst
for i in lst:
    a=re.search('FY\d*\_?\w+',''.join(i))
    a=a.group(0)
    print(a)

In [1]:
import pandas as pd, datetime as dt, glob
from sqlalchemy import create_engine

def pg_db_connection():
        db_username = 'postgres'
        db_password = 'your_password'
        db_host = 'localhost'
        db_port = '5432'
        db_name = 'hariaravi'
        # SQLAlchemy engine for PostgreSQL
        engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
        return engine


def main_dataset():
        
        a=glob.glob('**/*')
        df=pd.DataFrame()
        for i in range(len(a)):
                k=a[i]
                df_start=dt.datetime.now()
                df=pd.read_excel(k)
                df['link']=f'{k}'
                u = df.select_dtypes(include=['datetime'])
                df[u.columns] = u.fillna('None')
                df=df.fillna('None')
                df_end=dt.datetime.now()
                print(f'df, done {k} {df.shape} time is: {df_end-df_start}')
                sql_start=dt.datetime.now()
                df.to_sql(f'table_is_{i}', engine, if_exists='replace', index=False)
                sql_end=dt.datetime.now()
                print(f'table_is_{i} also done and the time it took is {sql_end-sql_start}')

        return df

# df=main_dataset()
print("DataFrame is successfully dumped into PostgreSQL database.")
# df = pd.read_sql(query, engine)

DataFrame is successfully dumped into PostgreSQL database.

In [2]:
def pg_db_connection():
        db_username = 'postgres'
        db_password = 'your_password'
        db_host = 'localhost'
        db_port = '5432'
        db_name = 'hariaravi'
        # SQLAlchemy engine for PostgreSQL
        engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
        return engine

def get_full_data(engine):

    with open (r'dol-h1b-data-final.json', mode='a', encoding = 'utf-8-sig') as file:
        for i in range(20):
            starttime_sql_query=dt.datetime.now()
            query= f'select * from table_is_{i}'
            temp_df = pd.read_sql(query, engine)
            endtime_sql_query = dt.datetime.now()
            temp_df.to_json(file, orient='records')
            end_time_df_json= dt.datetime.now()
            print(f'table is {i}, the shape is: {temp_df.shape}')
            print(f'time to query: {endtime_sql_query-starttime_sql_query}')
            print(f'time to json: {end_time_df_json - endtime_sql_query}')

table is 0, the shape is: (120306, 97)
time to query: 0:00:07.455208
time to json: 0:00:03.032074

In [4]:
from pymongo import MongoClient
import datetime as dt

def load_sample_data(df):
    mono_start=dt.datetime.now()
    atlas_connection_string = "mongodb+srv://aravindbedean:25w9gXhCYvSdNYho@cluster0.cbcz4vn.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(atlas_connection_string)
    db = client['sample_db']
    collection = db['users']
    collection.insert_many(df)
    mongo_end=dt.datetime.now()
    print(f'time to load to mongo is: {mongo_end-mono_start}')

Sample data has been inserted into the 'users' collection.

In [ ]:
# import json, datetime as dt
# query= 'select * from table_is_0'
# temp_df = pd.read_sql(query, engine)

# with open (r'/Users/hariaravi/PycharmProjects/finalGHfolder/Data_Engineering/Projects/h1b/dol-h1b-data-final.json', mode='a', encoding = 'utf-8-sig') as file:
#     for i in range(20):
#         # starttime_sql_query=dt.datetime.now()
#         query= f'select * from table_is_{i}'
#         temp_df = pd.read_sql(query, engine)
#         # endtime_sql_query = dt.datetime.now()
#         temp_df.to_json(file, lines=True, orient='records')
#         # end_time_df_json= dt.datetime.now()
#         # print(f'table is {i}, the shape is: {temp_df.shape}')
#         # print(f'time to query: {endtime_sql_query-starttime_sql_query}')
#         # print(f'time to json: {end_time_df_json - endtime_sql_query}')

In [3]:
##libraries


import pandas as pd, datetime as dt, glob, decimal, ijson, time as t, os, json, pyarrow
from pytz import timezone
from bson.decimal128 import Decimal128
from sqlalchemy import create_engine
from pymongo import MongoClient

In [1]:
import pandas as pd, datetime as dt, glob, decimal, ijson, time as t, os, json, pyarrow
from pytz import timezone
from bson.decimal128 import Decimal128
from sqlalchemy import create_engine
from pymongo import MongoClient


def pg_db_connection():
        db_username = 'postgres'
        db_password = 'your_password'
        db_host = 'localhost'
        db_port = '5432'
        db_name = 'hariaravi'
        # SQLAlchemy engine for PostgreSQL
        engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
        return engine

def date_and_time():
    format = "%Y-%m-%d_%H-%M"
    now_utc = dt.datetime.now(timezone('EST'))
    return now_utc.strftime(format)

def get_full_data(engine,datetime):
    data_file = f'final/dol-h1b-data-final-{datetime}.json'
    with open (r'{}'.format(data_file), mode='a', encoding = 'utf-8-sig') as file:
        for i in range(2):
            starttime_sql_query=dt.datetime.now()
            query= f'select * from table_is_{i}'
            temp_df = pd.read_sql(query, engine)
            endtime_sql_query = dt.datetime.now()
            temp_df.to_json(file, orient='records')
            end_time_df_json= dt.datetime.now()
            print(f'table is {i}, the shape is: {temp_df.shape}')
            print(f'time to query: {endtime_sql_query-starttime_sql_query}')
            print(f'time to json: {end_time_df_json - endtime_sql_query}')
        file_name = file.name
        abs_path=os.path.abspath(file_name)
        return abs_path     

def convert_decimal128(obj):
    if isinstance(obj, dict):
        for k, v in obj.items():
            obj[k] = convert_decimal128(v)
    elif isinstance(obj, list):
        obj = [convert_decimal128(v) for v in obj]
    elif isinstance(obj, decimal.Decimal):
        return Decimal128(str(obj))
    return obj



def load_data(df):
    with open (r'{}'.format(df),mode = 'r', encoding = 'utf-8-sig') as file:
        array_items = ijson.items(file, 'item')
        temp_list=[]
        count=0
        for i in array_items:
            atlas_connection_string = "mongodb+srv://aravindbedean:25w9gXhCYvSdNYho@cluster0.cbcz4vn.mongodb.net/?retryWrites=true&w=majority"
            client = MongoClient(atlas_connection_string)
            db = client['dol-h1b']
            collection = db['datadump']
            i=convert_decimal128(i)
            collection.insert_one(i)
        # temp_list.clear()
        # print(len(temp_list))
 
                
def operation():
    pg_db = pg_db_connection()
    temp_variable=get_full_data(pg_db, date_and_time())
    # final_end = load_data(temp_variable)
    # final_end = load_data(r'/Users/hariaravi/PycharmProjects/dol-h1b/h1bdata/dol/final/dol-h1b-data-final-2024-02-24_16-57.json')
    
    print('All functions done')

        
# operation()
print('done')

done

In [23]:
from datetime import datetime

# Your timestamp in milliseconds
timestamp_ms = "1632614400000"

# Convert the string to an integer and then to seconds
timestamp_s = int(timestamp_ms) / 1000.0

# Convert the timestamp to a datetime object
dt = datetime.fromtimestamp(timestamp_s)

print(dt)

2021-09-25 20:00:00

In [18]:
with open (r'/Users/hariaravi/PycharmProjects/dol-h1b/h1bdata/dol/final/dol-h1b-data-final-2024-02-24_16-57.json', mode='r',encoding='utf-8-sig') as file:
    a_file=ijson.items(file,"item")
    temp_list=[]
    for i,j in enumerate(a_file):
        if len(temp_list) == 10: #1000000):
            break
        elif len(temp_list) < 10: #1000000):
            temp_list.append(j)

    print(len(temp_list))
    mini_df=pd.DataFrame(temp_list)
    # print(mini_df)

10

In [102]:
import pandas as pd


def pg_db_connection():
        db_username = 'postgres'
        db_password = 'your_password'
        db_host = 'localhost'
        db_port = '5432'
        db_name = 'hariaravi'
        # SQLAlchemy engine for PostgreSQL
        engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
        return engine


df=pd.DataFrame()
cit_y='cupertino'
rol_e='data'
for i in range(20):
    engine = pg_db_connection()
    temp_df = pd.read_sql(('select * from table_is_'+str(i)+' where  \"EMPLOYER_CITY\" ilike %(city)s and \"JOB_TITLE\" ilike %(role)s')
                          , engine, params={"city": f'%{cit_y}%', "role":f'%{rol_e}%'})
    temp_df['table'] = f'table_is_{i}'
    df=pd.concat([df,temp_df])
    print(f'table_is_{i} has the following shape {temp_df.shape}')

df.to_excel(f'{cit_y}_{rol_e}.xlsx')
print('Excel sheet is ready')

table_is_0 has the following shape (28, 98)
table_is_1 has the following shape (61, 54)
table_is_2 has the following shape (39, 98)
table_is_3 has the following shape (31, 54)
table_is_4 has the following shape (25, 98)
table_is_5 has the following shape (22, 42)
table_is_6 has the following shape (20, 98)
table_is_7 has the following shape (112, 98)
table_is_8 has the following shape (31, 98)
table_is_9 has the following shape (35, 98)
table_is_10 has the following shape (42, 98)
table_is_11 has the following shape (43, 98)
table_is_12 has the following shape (67, 98)
table_is_13 has the following shape (41, 98)
table_is_14 has the following shape (63, 98)
table_is_15 has the following shape (61, 262)
table_is_16 has the following shape (32, 98)
table_is_17 has the following shape (35, 98)
table_is_18 has the following shape (33, 98)
table_is_19 has the following shape (28, 98)
Excel sheet is ready

In [104]:
df['EMPLOYER_NAME'].unique()

array(['Apple Inc.', 'SEAGATE US LLC', 'APPLE INC.',
       'STEP AHEAD SOLUTIONS INC', 'MIST SYSTEMS, INC.',
       'EXILANT TECHNOLOGIES PRIVATE LIMITED', 'LINO CORP',
       'GAMELORE,INC.', 'PYRAMES INC.', 'MIRAPATH, INC.',
       'SUGARCRM, INC.', 'INDX TECHNOLOGY, INC.',
       'AC Wellness Network LLC', 'A2Z DEVELOPMENT CENTER, INC.',
       'BOARDWALKTECH, INC.', 'PyrAmes, Inc.', 'APPLE, INC.',
       'Apple Inc. ', 'Armorblox, Inc.', 'Mobileum, Inc.',
       'Seagate US LLC', 'Boardwalktech, Inc. ', 'ROADSTAR.AI LLC',
       'PLUSAI, INC.', 'JOYMOBI TECHNOLOGY INC.',
       'COLLTECH CORPORATION, INC.', 'VINGS TECHNOLOGIES LIMITED',
       'Boardwalktech, Inc.', 'PharmaAI', 'INDIUM SOFTWARE, INC.',
       'Tosha Home Inc.', 'MobiSocial, Inc. '], dtype=object)